@keyframes spin_words{
    10%{
        transform: translateY(-103%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-203%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-303%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-403%);
    }
    100%{
        transform: translateY(-400%);
    }
}

@keyframes rolling_words {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes rolling_words_right {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }